@model IEnumerable<Hotel>

<form asp-controller="Hotel" asp-action="Index" method="post" enctype="multipart/form-data">
    <div>
        <input type="file" name="file" />
        <button id="submit" class="submit" name="button" value="Upload" type="Submit">Upload</button>
    </div>
    <hr />
    <label>Database veriyi kaydettirmek için "Evet" yazın</label>
    <input type="text" name="Save" placeholder="Evet">
    <hr />
    <div class="error">
        <h6 class="errorMe">Error Stars Status: @ViewBag.Error</h6>
        <h6 class="errorUrl">Error Url Status: @ViewBag.URL</h6>
        <h6 class="errorName">Error Name Status: @ViewBag.Name</h6>
    </div>
    <hr />



</form>

@if (Model.Count() > 0)
{
    <hr />
    <div>
        <form method="get" asp-controller="Hotel" asp-action="Download">
        <button name="button" value="DownloadXML" type="submit">Dowload XML</button>
        <button name="button" value="DownloadJSON" type="submit">Dowload JSON</button>
        </form>
    </div>


    <form method="post" asp-controller="Hotel" asp-action="Index">
        <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
            <tr>
                <td>Name <button name="button" value="SortName" type="submit"><i class="fas fa-sort"></i></button> </td>
                <td>Address <button name="button" value="SortAddress" type="submit"><i class="fas fa-sort"></i></button> </td>
                <td>Stars <button name="button" value="SortStars" type="submit"><i class="fas fa-sort"></i></button> </td>
                <td>Contact <button name="button" value="SortContact" type="submit"><i class="fas fa-sort"></i></button> </td>
                <td>Phone <button name="button" value="SortPhone" type="submit"><i class="fas fa-sort"></i></button> </td>
                <td>Url <button name="button" value="SortUrl" type="submit"><i class="fas fa-sort"></i></button> </td>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Address</td>
                    <td>@item.Stars</td>
                    <td>@item.Contact</td>
                    <td>@item.Phone</td>
                    <td>@item.Url</td>
                </tr>
            }

        </table>
    </form>
}

<style>
    .error {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .errorMe {
        color: red;
    }

    .errorUrl {
        color: orange;
    }

    .errorName {
        color: red;
    }
</style>
